.list li:before {
	content: counter(li);
    counter-increment: li;
    position: absolute;
    top: -2px;
    left: -2em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 2em;
    margin-right: 8px;
    padding: 4px;
    color: #fff;
    font-weight: 700;
    background: #65c178;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.list li {
	position: relative;
    padding: 2px 0 4px 10px;
    margin-bottom: 10px;
    list-style: none;
}

.list {
	font-size: 13px;
	    counter-reset: li;
}
.list span {
	    display: inline-block;
    color: #65c178;
    font-weight: 700;
    width: 100px;
}