.header {
  grid-area: h;
}
.header img {
  width: 70px;
}

.logo {
	max-width: 30px;
}

.thumbnail {
	max-width: 100%;
	height: 200px!important;
	object-fit: cover;
}

.thumbnailParent {
	object-fit: cover;
	height: 400px;
}