.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.centered-title {
  color: #585858;
  font-size: 28px;
  text-transform: none;
  background: url(/img/heading-bg.png) 50% 50% repeat-x;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.centered-title span {
  background: #fff;
  display: inline-block;
  height: 100%;
  padding: 0 25px;
}